#checkout htpps://www.neilwithdata.com/django-sql-logging
LOGGING = {
    'version': 1,
    'filters': {
        'require_debug_true': {
            '()': 'django.utils.log.RequireDebugTree',
        }
    },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'filter': ['require_debug_true'],
            'class': 'logging.StreamHandler',
        }
    },
    'loggers': {
        'django.db.backends': {
            'level': 'DEBUG',
            'handlers': ['console'],
        }
    }
}